<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Roomify</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/chat.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>
<body class="row">
    <aside class="column">
        <div class="column">
            <span class="row" id="userNameSpan">
                <p class="text px18 medium"><%= user.username %></p>
                <img src="assets/add.svg" alt="create new chat icon" class="iconMedium" id="createChat">
            </span>
            <form action="" class="search row hidden" id="createChatsForm" enctype="multipart/form-data">
                <input type="text" name="search" id="searchInput" autocomplete="off" class="text px14 medium" placeholder="Search for users...">
                <label for="searchSubmit" id="searchSubmitLabel">
                    <input type="submit" value="" hidden id="searchSubmit">
                    <img src="assets/share.svg" alt="" class="iconMedium">
                </label>
            </form>
        </div>
        
        <div id="chats"></div>
    </aside>
    <main class="column">
        <form action="" id="messageBox" class="row" enctype="multipart/form-data">
            <input type="text" name="message" id="messageInput" placeholder="Message..." autocomplete="off">
            <label for="submit" class="column" id="submitLabel">
                <img src="assets/send.svg" alt="" class="iconMedium">
                <input type="submit" hidden id="submit" name="submit">
            </label>
        </form>
    </main>

    <script src="js/chat.js"></script>
</body>
</html>