<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="text px60 bold">Roomify<em>.</em></h1>
    <div id="googleBtn" class="row">
        <img src="assets/google-logo-6278331_1280.webp" alt="googleIcon" class="iconLarge">
        <p class="text px18 medium">Log In with Google</p>
    </div>
</body>
</html>